<head>
    <title><%= title %></title>
    <link rel="icon" href="/icons/favicon.svg" />
    <link rel="preconnect" href="https://rsms.me/" />
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="https://unpkg.com/htmx.org@1.9.10/dist/htmx.min.js"></script>
    <script type="module" src="/javascripts/components/notificationBanner.component.js"></script>
    <script type="module" src="/javascripts/components/card.component.js"></script>
    <script type="module" src="/javascripts/components/relativeLink.component.js"></script>
</head>
