<div class="card">
    <clipboard-link class="question"><%= card.question %></clipboard-link>
    <clipboard-link class="answer"><%= card.answer %></clipboard-link>
    <a href="/cards/<%= card._id %>" style="width: 16px; height: 16px"
        ><img
            src="/icons/edit.svg"
            alt="Edit"
            style="width: 100%; height: 100%"
    /></a>
    <button
        hx-delete="/cards/<%= card._id %>"
        hx-target="closest .card"
        hx-swap="outerHTML"
        style="width: 16px; height: 16px"
    >
        <img
            src="/icons/trash.svg"
            alt="Trash"
            style="width: 100%; height: 100%"
        />
    </button>
</div>
