<!DOCTYPE html>
<html>
    <%- include('../partials/head', {title: card.question}) %>
    <body>
        <h1>Edit Card</h1>
        <form class="card-form" action="/cards/update" method="post">
            <input type="hidden" id="id" name="id" value="<%= card._id %>" />

            <label for="question">Question:</label>
            <textarea id="question" name="question" required>
<%= card.question %></textarea
            >

            <label for="answer">Answer:</label>
            <textarea id="answer" name="answer" required>
<%= card.question %></textarea
            >

            <button type="submit">Update</button>
        </form>
    </body>
</html>
