<form id="login" action="/login" method="post">
    <div id="error" class="subtitle" style="color: red; display: none"></div>
    <label for="name">name:</label>
    <input type="text" id="name" name="name" required />

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required />

    <button type="submit">Log in</button>
</form>
<script>
    document.querySelector('form').addEventListener('submit', (e) => {
        e.preventDefault();
        const formData = {
            name: document.getElementById('name').value,
            password: document.getElementById('password').value,
        };

        fetch('/login', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'Cue-App-Request': 'true',
            },
            body: JSON.stringify(formData),
        })
            .then((response) => response.json())
            .then((data) => {
                if (data.error !== undefined) {
                    const errorDiv = document.querySelector('#error');
                    errorDiv.innerHTML = data.error;
                    errorDiv.style.display = 'block';
                } else {
                    const currentDomain = window.location.origin;
                    window.location.href = window.location.origin + `/${formData.name}`;
                }
            })
            .catch((error) => {
                console.error('Error:', error);
            });

        return false;
    });
</script>
