<style>
    #content {
        padding: 0 1rem 1rem 1rem;
    }
</style>
<menu-options> <% if (belongs) { %> <%- include('./course/form') %> <% } %> </menu-options>
<div class="container">
    <div class="title mb-2"><%= user.name %></div>
    <div>
        <div class="text-secondary mb-2 ms-1">Courses</div>
        <div class="courses">
            <% courses.forEach(function(course) { %> <%- include('./course/preview', { username: user.name, course:
            course }) %> <% }) %>
        </div>
    </div>
</div>
