<style>
    #content {
        padding: 0 1rem 1rem 1rem;
    }
</style>
<menu-options> <% if (belongs) { %> <%- include('./course/form') %> <% } %> </menu-options>
<div class="title"><%= user.name %></div>
<h2>Courses</h2>
<div class="courses">
    <% courses.forEach(function(course) { %> <%- include('./course/preview', { username: user.name, course: course }) %>
    <% }) %>
</div>
<h2>Other Users</h2>
<div class="users"><% users.forEach(function(user) { %> <%- include('./user/preview', { user: user }) %> <% }) %></div>
