<menu-options style="display: none">
    <div>
        <button id="editCardButton" class="btn btn-light toggle" type="button"><i class="bi bi-pencil"></i></button>
        <get-link action="" target="#content">
            <button class="btn btn-light toggle" type="button"><i class="bi bi-arrow-clockwise"></i></button>
        </get-link>
    </div>
</menu-options>
<study-stack class="flippers" deck-id="<%- deckId %>"></study-stack>
