<get-link action="<%= deck.position %>" target="#content" class="deck">
    <button class="btn btn-light w-100 d-flex gap-1">
        <div class="flex-grow-1 text-start text-truncate"><%= deck.name %></div>
        <% if (deck.percentage !== undefined && deck.percentage !== null) { %>
        <deck-rating value="<%= deck.percentage %>"></deck-rating>
        <% } %>
    </button></get-link
>
