<button id="deckSettingsButton" class="btn btn-light toggle" type="button"><i class="bi bi-gear-fill"></i></button>
<deck-settings class="modal fade" tabindex="-1" aria-hidden="true" deck-id="<%= deck.id %>">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Deck Settings</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form>
                <div class="modal-body d-flex flex-column gap-2">
                    <button id="resetProgressButton" class="btn btn-warning w-100">Reset Progress</button>
                    <a id="deleteDeckButton" class="btn btn-danger w-100">Delete Deck</a>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</deck-settings>
