<style>
    .deck-body {
        height: 100%;
        display: grid;
        grid-template-columns: 1fr;
    }
    .cards {
        overflow-y: auto;
        padding: 1rem;
    }
    .card-form-wrapper {
        box-shadow: 0 2px 45px rgba(0, 0, 0, 0.1);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;
    }
    .card-form {
        width: 100%;
        max-width: 750px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
</style>
<% if (belongs) { %>
<style>
    .deck-body {
        grid-template-rows: 2fr 1fr;
    }
</style>
<% } %>
<menu-options style="display: none">
    <div>
        <get-link action="study" target="#content">
            <button class="btn btn-light toggle" type="button"><i class="bi bi-eyeglasses"></i></button>
        </get-link>
        <%- include('./settings', { belongs, deck }) %>
    </div>
</menu-options>
<div class="deck-body">
    <div class="cards">
        <div style="width: 100%"><%- include('./title', {deck: deck}) %></div>
        <% cards.forEach(function(card) { %> <%- include('../card/preview', { card: card }) %> <% }) %>
    </div>

    <% if (belongs) { %>
    <div class="card-form-wrapper">
        <div class="card-form">
            <div class="mb-2 text-secondary">New card</div>
            <card-form class="cue-card" deck_id="<%= deck.id %>"></card-form>
        </div>
    </div>
    <% } %>
</div>

<script type="module" src="/javascripts/components/clipboardLink.component.js"></script>
